body {
  font-family: 'Arial', sans-serif;
  background: linear-gradient(to right, #0c040475, #d1a7a7);
  margin: 0;
  padding: 0;
}

.home-container {
  width: 100%;
  max-width: 900px;
  margin: 20px auto;
  padding: 20px;
  background-color: rgba(206, 170, 170, 0.596);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  box-sizing: border-box;
}

h2, h3 {
  text-align: center;
  color: #081294;
}

h3 {
  margin-bottom: 20px;
}

form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

input {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
}

input:focus {
  border-color: #007bff;
  outline: none;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

/* Estilos de los errores */
p {
  color: red;
  font-size: 14px;
}

/* Botón de regreso */
.back-button {
  padding: 10px 15px;
  background-color: #f44336; /* Rojo */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 20px;
  display: block;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}

.back-button:hover {
  background-color: #d32f2f;
}

/* Toasters en la parte superior */
.Toastify__toast-container {
  position: fixed;
  top: 20px;
  right: 20px;
}
